# Ignore PostgreSQL data directory
postgres-data/

# Ignore pytest cache directory
__pycache__/
.pytest_cache/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore .idea directory
.idea/

# Ignore virtualenv
myenv/

# Ignore .DS_Store
.DS_Store